* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #d0d0d0;
}
body {
  font: 16px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1rem;
  font-size: 20px;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: justify;
}

.left {
  width: 35%;
  display: inline;
}

.right {
  width: 65%;
  padding-top: 100px;
  float: right;
}

.text {
  width: 80%;
}

.container {
  position: relative;
  display: inline-block;
  width: 35%;
  min-height: 10%;
  background: #d0d0d0;
}

.menu {
  display: inherit;
}

.content {
  width: 100%;
  display: inline-grid;
  top: 45%;
  padding-left: 15px;
  padding-left: 15px;
}

.title {
  padding-bottom: 10px;
  padding-left: 15px;
}

.header {
  padding-left: 10px;
}
/* menu start */
.btn {
  display: inline-block;
  position: relative;
  top:10%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* Icons */

a {
  color:#fff;
  background: rgb(255, 43, 142);
  border-radius: 50%;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 10px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  background: rgb(255, 126, 186);
}

/* pop-up text */

a span {
  color:black;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons */

a:nth-of-type(1):before {
content:'\f015';
}
a:nth-of-type(2):before {
content:'\f0f4';
}
a:nth-of-type(3):before {
content:'\f0e1';
}
a:nth-of-type(4):before {
content:'\f09b';
}
a:nth-of-type(5):before {
content:'\f099';
}
a:nth-of-type(6):before {
content:'\f121';
}
a:nth-of-type(7):before {
  content:'\f02d';
}
a:nth-of-type(8):before {
  content:'\f0e0';
}
a:nth-of-type(9):before {
  content:'\f030';
}

/* hover menu stop */

.circles,
.circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.circles {
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  overflow: hidden;
}
.circle {
  border-style: solid;
  border-color: transparent;
  border-radius: 100%;
}
@keyframes x {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes z {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
